{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "node": false
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "extends": ["airbnb"],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "consistent": true }],
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0
  }
}