{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "no-multiple-empty-lines": "error",
    "eol-last": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "semi": "error"
  }
}